
//------------------- Colors ------------------------//
  // Body

  $fonthue: #4A4A4A;




  // Header

  $body: #EEEEEE;
  $header-top: #4A4A4A;
  $header-top-hover: $body;
  $header-bottom: #222222;




  // Main

  $panel: white;




  // footer

  $help: #CCCACA;
  $footbtn: #9B9B9B;
  $btn-background: white;

//------------------- Fonts ------------------------//
