@import "vars";

body {
  background-color: #EEEEEE;
  color: $fonthue;
}

.navbar-default.nav-top {
  background-color: #4A4A4A;
  ul {
    display: inline-block;
    float: left;
  }
}


.navbar-default ul.navbar-top li {
  float: left;
  font-size: 11px;
}

.navbar-inverse {
  border-width: 0;
  border-radius: 0;
  .navbar-nav>li>a {
    color: white;
    &:hover {
      color: #9d9d9d;
    }
  }
}

.nav-top {
  .profile {
    border-radius: 100%;
    background-image: url("http://fillmurray.com/15/15");
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-bottom: -3px;
    margin-left: 3px;
    &:before {
      box-sizing: border-box;
    }
  }
  ul>li>a {
    color: #D6D6D6;
    padding: 7px 15px 5px 15px;
    &:hover {
      color: black;
    }
  }
}

.top {
  position: relative;
  margin-bottom: 1.5em;
  h4, h1 {
    color: #4A4A4A;
  }
  h1 {
    font-family: SourceSansPro-Light;
    margin-top: 0;
  }
  h4 {
    font-family: SourceSansPro-Semibold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .search {
    position: absolute;
    right: 0;
    top: -6px;
    span {
      font-size: 25px;
    }
    input {
      /* Search myUTx: */
      line-height: 0;
      padding: 0;
      width: 200px;
      background-color: inherit;
      border: 0;
      font-family: SourceSansPro-Light;
      font-size: 30px;
      letter-spacing: 0.71px;
    }
  }
}
