<link rel="stylesheet" href="css/project-nav.css">

<ul class="project-nav">
  <li id="glance"><a href="./glance.html">At a glance</a></li>
  <li id="documents"><a href="./documents.html">Documents</a></li>
  <li id="charter"><a href="./charter.html">Charter</a></li>
  <li id="roadmap"><a href="./roadmap.html">Roadmap</a></li>
  <li><a href="">Projects</a></li>
  <li id="calendar"><a href="./calendar.html">Calendar</a></li>
  <li><a href="">Decisions</a></li>
  <li id="people"><a href="./people.html">People</a></li>
  <li id="chatter"><a href="./chatter.html">Chatter</a></li>
</ul>
