<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{{site-title}}}</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width">

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

			{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
      <header>
        <div class="desktop">
          <div class="topnav">
            <ul>
              <li>UT4U</li>
              <li>CONTACTS</li>
              <li>ACCOUNTS</li>
              <li>ABOUT UTx</li>
              <li>TEAMS</li>
            </ul>
            <div class="profile">
              <span>MY PROFILE</span>
              <img src="http://fillmurray.com/20/20" alt="">
            </div>
          </div>
          <nav>
            <ul>
              <li><img class="inline" src="assets/myUTx_liteGray.png" alt=""></li>
              <li class="bordertest">Projects</li>
              <li>Portfolo</li>
              <li>Tools</li>
              <li>Life at UTx</li>
            </ul>
          <div>
            <p>Search myUTx</p>
          </div>
        </nav>
        </div>
        <div class="mobile">
          <div class="menubar">
            <img class="inline" style="margin-right: -75px;" src="assets/myUTx_liteGray.png" alt="">
            <div class="menu" id="hamburger">
              <span class="menu-icon-line-1 menu-icon-line"></span>
              <span class="menu-icon-line-2 menu-icon-line"></span>
              <span class="menu-icon-line-3 menu-icon-line"></span>
            </div>
            <div class="profile">
              <img src="http://fillmurray.com/20/20" alt="">
            </div>
          </div class="menubar">
          <nav id="mobileNav" class="hide">
            <ul>
              <li>Projects</li>
              <li>Portfolo</li>
              <li>Tools</li>
              <li>Life at UTx</li>
            </ul>
          </nav>

        </div>
      </header>
