<%- partial('./partials/_header') %>

  <link rel="stylesheet" href="css/charter.css">

  <div>
    <div class="container">

      <%- partial('./partials/_title_search') %>
      <%- partial('./partials/_project_nav') %>

      <script type="text/javascript">
        let charter = document.querySelector('#charter');
        charter.classList.add('active');
      </script>

        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Project Charter <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Objectives <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Audience <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Scope of Services <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Important Dates <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Success Criteria <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Potential Obstactles <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
        <div class="accordian panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Mindset and Competencies <span class="caret"></h3>
          </div>
          <div id="demo" class="accordian_content panel-body collapse">
            <h5>Initiative: UTx Health</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lectus tellus, id vulputate est consequat et. Donec at tellus lobortis, sodales quam non, facilisis mauris. Morbi in lectus vitae ex porta fermentum.
              Nam tempus enim ipsum, sed maximus nunc tempor at. Nulla dignissim et lorem non tempus. Nunc vitae felis consequat, egestas turpis ac, ullamcorper metus. Duis fringilla eros in.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Pellentesque sodales lectus tellus, id vulputate est consequat et.</li>
              <li>Donec at tellus lobortis, sodales quam non, facilisis mauris. </li>
            </ul>
            <p>Duis fringilla eros in fringilla dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu. In convallis iaculis justo in euismod. Nulla auctor efficitur quam ac pellentesque. Duis fringilla eros in fringilla
              dictum. Nulla facilisi. Donec cursus fermentum metus, condimentum blandit nisi porttitor eu.</p>
          </div>
        </div>
    </div>

  </div> <!-- end container -->

  <script type="text/javascript" src="js/charter.js">
  </script>

  <%- partial('./partials/_footer') %>
