<%- partial('./partials/_header') %>

<link rel="stylesheet" href="css/chatter.css">


<div class="container">
  <%- partial('./partials/_title_search') %>
  <%- partial('./partials/_project_nav') %>

  <script type="text/javascript">
    let chatter = document.querySelector('#chatter');
    chatter.classList.add('active');
  </script>

  <div class="row">
    <!-- left column -->
    <div class="col-md-8">
      <div class="block">
        chatter placeholder
      </div>
    </div>

    <!-- right column -->
    <div class="col-md-4">
      <div class="block">
        <h4>Team</h4>
        <div class="team">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
        </div>
      </div>
      <div class="block topics">
        <h4>Topics</h4>
        <ul>
          <li>#weeklyupdate</li>
          <li>#meetingnotes</li>
          <li>#dataintg</li>
          <li>#slm</li>
          <li>#opm</li>
        </ul>
        <a href="">SEE ALL</a>
      </div>
      <div class="block">
        <h4>Following</h4>
        <div class="team">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
        </div>
      </div>
      <div class="block">
        <h4>Followers</h4>
        <div class="team">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
          <img src="http://fillmurray.com/45/45" alt="">
        </div>
      </div>
    </div>


    </div>
</div> <!-- end container -->



<%- partial('./partials/_footer') %>
