<%- partial('./partials/_header') %>

<link rel="stylesheet" href="css/roadmap.css">

<div class="container">

  <%- partial('./partials/_title_search') %>
  <%- partial('./partials/_project_nav') %>

  <script type="text/javascript">
    let roadmap = document.querySelector('#roadmap');
    roadmap.classList.add('active');
  </script>

  <div class="block">
    <h4>Roadmap</h4>
    <p>roadmap placeholder</p>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="block mini">
            <h3 class='compact'>Blocks</h3>
            <p class="text-danger">42</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="block mini">
            <h3 class='compact'>Escalate</h3>
            <p class="text-danger">42</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="block mini">
            <h3 class='compact'>At Risk</h3>
            <p class="text-warning">42</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="block mini">
            <h3 class='compact'>On Track</h3>
            <p class="text-success">42</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-8">
      <div class="block milestones">
        <h4>Milestones</h4>
        <table class="table">
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
          <tr>
            <td>Apr 3, 2017</td>
            <td>Donec at tellus lobortis, sodales quam</td>
            <td><div class="status completed"></div></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>

<%- partial('./partials/_footer') %>
